* {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    border: 2px red;
}

.header {
    display: flex;
    justify-content: center;
    gap: 256px;
}

.header > #exhero {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* hero */
.header > #exhero > .hero {
    margin-top: 8px;
}
#lheader {
    /* text */
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 100;
}

/* headertxt */
.header > #headertxt {
    margin: 0px;
}
#bheader {
    /* text */
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;    
}

#header2 {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 64px;
}
#header2 div {
    width: 400px;
}
#header2 div > #mheader {
    margin-bottom: 0px;
    margin-top: 16px;
}
#header2 div button {
    background-color: #3882F6;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    width: 128px;
    height: 32px;
}
#mheader {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 48px;
}